*{
  text-decoration: none;
}

a:link{
  color: #BF1E19;
}

li{
  list-style-type: none;
}

a:visited{
  color: #BF1E19;
}

body{
  background-color: #F4F5FF;
}

header{
  position: absolute;
  top: 10px;
  left: 40px;
}


#nav{

  position: absolute;
  text-align: center;
  top:325px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.25em;
}

#welcome{
  font-family: 'Dosis';
  position: absolute;
  height: 150px;
  width: 600px;
  top:255px;
  left: 420px;
  font-size: 1.50em;
}
#blogposts {
  font-family: 'Dosis';
  font-size: 1.25em;
  position: absolute;
  height: 450px;
  width: 300px;
  top:315px;
  left: 382px;
}

#intro{
  font-family: 'Noto Serif', serif;
  position: absolute;
  font-size: 1em;
  width: 650px;
  height: 400px;
  left: 225px;
  top: 325px;
}