*{
  text-decoration: none;
}

a:link{
  color: #BF1E19;
}

li{
  list-style-type: none;
}

a:visited{
  color: #BF1E19;
}

body{
  background-color: #F4F5FF;
}

header{
  position: absolute;
  top: 10px;
  left: 40px;
}

#code {
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  margin-top: 15px;

}
#nav{

  position: absolute;
  text-align: center;
  top:325px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.25em;
}
#listo{
  font-weight: bold;
}
#welcome{
  font-family: 'Dosis';
  font-weight: bold;
  position: absolute;
  height: 150spx;
  width: 600px;
  top:255px;
  left: 360px;
  font-size: 1.50em;
}
}
#title{
  font-family: 'Dosis';
  position: absolute;
  height: 150spx;
  width: 600px;
  top:355px;
  left: 720px;
}

#intro{
  font-family: 'Noto Serif', serif;
  position: absolute;
  font-size: 1em;
  width: 650px;
  height: 400px;
  left: 225px;
  top: 325px;
}

#post{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  position: absolute;
  width: 600px;
  top: 455px;
  left:720px;
  height: 1000px;
}

#culture{
  font-family: cursive;
  font-size: 2em;
  width: 300px;
  height: 400px;
  left: 600px;
}

#tech{
  font-family: cursive;
  font-size: 2em;
  width: 375px;
  height: 400px;
  left: 925px;
}